@media (max-width: 770px) {
  .list {
    width: 700px;
  }
  .written-notes {
    width: 600px;
  }
  .container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    flex-direction: column;
  }
}
@media (max-width: 435px) {
  .list {
    width: 400px;
  }
  .written-notes {
    width: 250px;
  }
}
@media (max-width: 380px) {
  .list {
    width: 300px;
    padding: 0px 0px 20px 0;
  }
  .listItem {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .written-notes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 325px) {
  .list {
    width: 280px;
    padding: 0px 0px 20px 0;
  }
  .listItem {
    display: flex;
    flex-direction: column;
    width: 280px;
  }
  .written-notes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
